.nav-link[aria-selected="true"] {
    background-color: rgb(88, 120, 188) !important;
    border-radius: 20px !important;
    color: white !important;
    font-weight: 600 !important;
  }
  
  .nav-link {
    color: #000 !important;
  }
  
  .nav {
    margin-left: 10% !important;
  }
  
  .apps>a {
    color: #587087 !important;
  }
  
  .tab {
    grid-gap: 0;
    background-color: #fff;
    border-bottom: 2px solid #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    overflow: hidden;
    padding: 8px;
  }
  
  .nav {
    margin-left: 10% !important;
  }
  
  form {
    padding: 10px !important;
  }
  
  textarea {
    border: 2px solid #bbb;
    border-radius: 10px;
    height: 150px;
    padding: 10px;
    width: 85%;
  }
  
  .desc {
    color: #5878bc;
    font-size: 75%;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .field input {
    border: 2px solid #bbb;
    border-radius: 10px;
    height: auto;
    margin-top: 12px;
    padding: 10px;
    width: 85%;
  }
  
  
  
  
  
  
  
  /*  */
  /*  */
  /*  */
  
  
  
  
  @import url(https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;600;700;900&display=swap);
  * {
      box-sizing: border-box;
      margin: 0;
  }
  
  body {
      font-family: Overpass, sans-serif;
  }
  
  a {
      color: inherit;
  }
  
  header {
      z-index: 50;
      width: 100%;
      box-shadow: 0 0 transparent, 0 0 transparent, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      position: fixed;
      top: 0;
      left: 0;
      padding-top: 1 rem;
      padding-bottom: 1 rem;
      padding-left: 0.5 rem;
      padding-right: 0.5 rem;
      border-bottom-width: 1 px;
      background-color: rgba(255, 255, 255, 1);
  }
  
  .header-container {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  
  .logo-area {
      /* margin: 0; */
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
  }
  
  .logo-area h1 {
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-left: 0.5rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 900;
  }
  
  .logo-img {
      width: 2.5rem;
      height: 24.66px;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin: 0;
  }
  
  .btn {
      color: rgba(255, 255, 255, 1);
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      border-width: 2px;
      border-radius: 0.375rem;
      border-color: rgba(59, 153, 252, 1);
      background-color: rgba(59, 153, 252, 1);
      margin-bottom: 5px;
      height: 44px;
  }
  
  .btn:hover {
      background-color: transparent;
      border: 2px solid rgba(59, 153, 252, 1);
      color: rgba(59, 153, 252, 1);
  }
  
  a {
      text-decoration: none;
  }
  
  .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 81%;
      margin: 0 auto;
      margin-top: 90px;
      margin-bottom: 75px;
  }
  
  .hero img {
      width: 432px;
      height: 154.22px;
  }
  
  .hero .hero-text {
      align-content: center;
      text-align: left;
      max-width: 28rem;
  }
  
  .hero .hero-text h2 {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 900;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: left;
  }
  
  .hero .hero-text p {
      margin-bottom: 2rem;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      text-align: left;
  }
  
  .dark-bg {
      padding-left: 1.5 rem;
      padding-right: 1.5 rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
      background-color: rgba(38, 38, 38, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 100%;
  }
  
  #step-header {
      font-size: 1.875rem;
      line-height: 2.25rem;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      margin-bottom: 1.25rem;
      font-weight: 900;
  }
  
  .white-bg {
      background-color: rgba(255, 255, 255, 1);
      display: flex;
      /* align-items: center;
    align-content: center; */
      border-radius: 5px;
  }
  
  .white-bg div {
      padding: 20px 10px;
      text-align: left;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
  }
  
  /* #pd {
    margin-bottom: 10px;
  } */
  
  .item-id {
      color: rgba(59, 153, 252, 1);
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 900;
      text-align: left;
  }
  
  .item-step {
      margin-bottom: 0.5rem;
      margin-top: 0.25rem;
      line-height: 1.75rem;
      font-size: 1.125rem;
      font-weight: 700;
      text-align: left;
  }
  
  .item-desc {
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 100%;
      /* max-width: 256px; */
  }
  
  .main-section {
      display: flex;
      flex-direction: column;
      color: rgba(38, 38, 38, 1);
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: rgba(255, 255, 255, 1);
  }
  
  .main-section a {
      color: black;
  }
  
  .bold-text {
      text-align: center;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
  }
  
  .light-text {
      margin-bottom: 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
  }
  
  .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2.5rem;
      max-width: 48rem;
      margin-top: 1.5rem;
      align-content: center;
      justify-content: center;
      text-align: center;
      color: rgba(38, 38, 38, 1);
      margin: 0 auto;
  }
  
  .grid-link {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      text-align: center;
  }
  
  .grid-img {
      width: 5rem;
      height: 5rem;
      border-radius: 9999px;
  }
  
  .box-shadow {
      box-shadow: 0 0 transparent, 0 0 transparent, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .img-text {
      color: rgba(38, 38, 38, 1);
      margin-top: 1rem;
      font-weight: 600;
      display: flex;
  }
  
  .blue-text {
      color: rgba(59, 153, 252, 1);
  }
  
  .footer {
      color: rgba(255, 255, 255, 1);
      position: relative;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      background-color: rgba(38, 38, 38, 1);
  }
  
  .footer-text1 {
      margin-bottom: 0.75rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 900;
      text-align: center;
  }
  
  #flex {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 56px;
  }
  
  .big-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-weight: 700;
      cursor: pointer;
      border-width: 4px;
      border-radius: 0.375rem;
      border: 4px solid rgba(255, 255, 255, 1);
      background-color: transparent;
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
      height: 56px;
      margin: auto;
  }
  
  .big-btn:hover {
      background: rgba(255, 255, 255, 1);
      color: rgba(59, 153, 252, 1);
  }
  
  footer {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      border-top-width: 1px;
      border-color: rgba(229, 231, 235, 1);
      width: 81%;
      margin: 15px auto;
  }
  
  #flex-1 {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-bottom: 0;
      display: flex;
      height: 32px;
      width: 128px;
  }
  
  #flex-1 a {
      width: 2rem;
      fill: currentColor;
      height: 2rem;
      display: flex;
      box-shadow: 0 0 transparent, 0 0 transparent, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      border-radius: 50%;
      margin: 8px;
  }
  
  .footer-text2 {
      text-align: right;
      font-size: 0.875rem;
      line-height: 1.25rem;
  }
  
  #underline:hover {
      text-decoration: underline;
  }
  
  @media (max-width: 767px) {
      .images {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 2.5rem;
          max-width: 48rem;
          margin-top: 1.5rem;
          align-content: center;
          justify-content: center;
          text-align: center;
          color: rgba(38, 38, 38, 1);
          margin: 0 auto;
      }
      .hero {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          width: 82%;
          margin: 0 auto;
          margin-top: 90px;
          margin-bottom: 75px;
      }
      .white-bg {
          flex-direction: column;
          width: 100%;
      }
      .dark-bg {
          /* padding-left: 0.5 rem;
      padding-right: 0.5 rem; */
          padding-top: 5rem;
          padding-bottom: 5rem;
          background-color: rgba(38, 38, 38, 1);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
      }
      .big-btn {
          width: 100%;
      }
      footer {
          flex-direction: column;
      }
      #flex-1 {
          margin-bottom: 25px;
      }
  }
  
  @media (min-width: 768px) {
      .hero {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto;
          width: 81%;
          margin: 0 auto;
          margin-top: 90px;
          margin-bottom: 75px;
      }
      .hero img {
          order: 2;
          width: 432px;
          height: 154.22px;
      }
      .hero .hero-text {
          order: 1;
          text-align: left;
          max-width: 28rem;
      }
      .white-bg {
          justify-content: space-between;
      }
      .dark-bg {
          padding-left: 1.5 rem;
          padding-right: 1.5 rem;
          padding-top: 5rem;
          padding-bottom: 5rem;
          background-color: rgba(38, 38, 38, 1);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
      }
      #step-header {
          font-size: 1.875rem;
          line-height: 2.25rem;
          color: rgba(255, 255, 255, 1);
          text-align: center;
          margin-bottom: 1.25rem;
          font-weight: 900;
      }
      .white-bg {
          background-color: rgba(255, 255, 255, 1);
          display: flex;
          /* align-items: center;
      align-content: center; */
          border-radius: 5px;
      }
      .white-bg div {
          padding: 2.5rem;
          text-align: left;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0%;
      }
      .item-id {
          color: rgba(59, 153, 252, 1);
          font-size: 1.5rem;
          line-height: 2rem;
          font-weight: 900;
          text-align: left;
      }
      .item-step {
          margin-bottom: 0.5rem;
          margin-top: 0.25rem;
          line-height: 1.75rem;
          font-size: 1.125rem;
          font-weight: 700;
          text-align: left;
      }
      .item-desc {
          font-size: 0.875rem;
          line-height: 1.25rem;
          max-width: 256px;
      }
  }
  
  @media (min-width: 1441px) {
      header {
          height: 85px;
      }
      footer {
          width: 42%;
      }
      .header-container {
          width: 42%;
      }
      .hero {
          width: 42%;
      }
  }
  
  @media (max-width: 1440px) {
      footer {
          width: 82%;
      }
      .header-container {
          width: 82%;
      }
      .hero {
          width: 82%;
      }
  }
  
  @media (max-width: 1250px) {
      footer {
          width: 72%;
      }
      .header-container {
          width: 72%;
      }
      .hero {
          width: 72%;
      }
  }
  
  @media (max-width: 1440px) {
      footer {
          width: 82%;
      }
      .header-container {
          width: 82%;
      }
      .hero {
          width: 82%;
      }
  }
  
  @media (max-width: 1100px) {
      footer {
          width: 94%;
      }
      .header-container {
          width: 94%;
      }
      .hero {
          width: 94%;
      }
  }
  
  @media (max-width: 1050px) {
      footer {
          width: 94%;
      }
      .header-container {
          width: 94%;
      }
      .hero {
          width: 94%;
      }
  }
  
  @media (max-width: 639px) {
      .images {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2.5rem;
          max-width: 48rem;
          margin-top: 1.5rem;
          align-content: center;
          justify-content: center;
          text-align: center;
          color: rgba(38, 38, 38, 1);
          margin: 0 auto;
      }
  }
  
  @media (max-width: 439px) {
      #footer-text-1 {
          max-width: 90%;
      }
  }
  
  @media (max-width: 450px) {
      .hero img {
          width: 320px;
      }
      .hero {
          display: block;
          /*flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; */
          width: 90%;
          margin: 0 auto;
          margin-top: 90px;
          margin-bottom: 75px;
      }
      /* .hero img {
      width: 432px;
      height: 154.22px;
    } */
      .hero .hero-text {
          align-content: center;
          text-align: left;
          max-width: 100%;
      }
      .hero .hero-text h2 {
          margin-bottom: 1rem;
          font-size: 1.875rem;
          line-height: 2.25rem;
          font-weight: 900;
          margin-block-start: 0.83em;
          margin-block-end: 0.83em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          text-align: left;
      }
      .hero .hero-text p {
          margin-bottom: 2rem;
          font-size: 1rem;
          line-height: 1.5rem;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          text-align: left;
      }
  }
  
  @media (max-width: 1050px) {
      .white-bg {
          max-width: 92%;
      }
  }
  
  @media (max-width: 440px) {
      .hero .hero-text {
          margin-top: -10px;
      }
      .btn {
          transform: scale(0.9);
      }
      .hero img {
          transform: scale(0.85);
      }
  }
  
  @media (max-width: 390px) {
      .btn {
          transform: scale(0.9);
      }
      .hero img {
          transform: scale(0.8);
      }
  }